.intro {
    margin-top: 200px;
    &_wrapp {
        width: 100%;
        background-image: url(".././img/intro_book.png");
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 50%;
        &_title {
            width: 324px;
            height: auto;
            font-weight: normal;
            font-size: 48px;
            line-height: 55px;
            letter-spacing: 0.2px;
            color: #fff;
        }
        &_text {
            margin-top: 17px;
            width: 510px;
            height: auto;
            font-weight: normal;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: 0.2px;
            color: #fff;
        }
        &_link {
            margin-top: 60px;
            display: block;
            background-color:#2091F9;
            color: #fff;
            width: 236px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 0.1px;
            border-radius: 35px;

            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100px;
                height: 20px;
                border-radius: 20px;
                background-color: transparent;
                transition: all .2s;
            }

            &:hover::before {
                content: 'GO';
                color: #2091F9;
                width: 100%;
                height: 100%;
                background-color: #fff;
                transition: all .3s;
                border-radius: 35px;
            }
        }
    }
}